<ion-view view-title="<center>TODAY<sub>{{title}}</sub></center>" cache-view="false">
    <ion-content class="has-header; ">
<!--  <a class="button button-full icon-right ion-chevron-down button-light" ng-click="gotoCategoryModal()" nav-transition="android"><p style=" 
      line-height: inherit;position: absolute;color: white;">SELECT INTEREST</p></a>
 -->
    <ion-content class="has-header; ">
    <i class="icon ion-chevron-down"></i>
<a class="button button-full icon-right button-light selectInterest" ng-click="gotoCategoryModal()" nav-transition="android">

  <p style=" 
      line-height: inherit;position: absolute;right: 99px;color: white; font-family: Avenir-Book; letter-spacing: 6px;">SELECT INTEREST</p></a>


      <div class="event-cont-foot bar bar-footer foot-venumap" ng-click="showEventMainModal()">
	<p>LEVELS<p>
	<p class="p2">Ends in 4:00 h<p>
</div>
              <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>