<ion-view hide-back-button="true" >
<img class="mainHeadImg" src="img/TodayLIVE.png">
    <ion-content class="has-header background" overflow-scroll="true">
   

  <!-- <div class="item range range-cat">
  <i class="">1 KM</i>
  <input type="range" name="volume">
  <i class="">5 KM</i>
</div> --> 


       <ion-list class="subCat-list" scroll="true">


          <ion-item class="subCat-li" ng-repeat= "item in EventsData">
          <a  href="#/home/eventDetail/{{item.id}}">
          
<div class="overlay"><img src="{{item.picture}}"> </div>

         <!-- <img src="img/subCat-li.png">

 --> 
          <div class="li-head">
          	Organiser
          </div> 
          <div class="li-content">
               EVENT TITTLE
          	<p>STARTS IN</p>
               
          </div>
          <div class="li-foot">
          	Distance
          	<p>Distance</p>
          </div>

          </a>
      
          </ion-item>


<!--                     <ion-item class="subCat-li" ng-repeat= "item in EventsData">
          <a  href="#/home/eventDetail/{{item.id}}">
          
          <img src="{{item.picture}}">


          <div class="li-head">
               Organiser
          </div> 
          <div class="li-content">
               {{item.title}}
               <p>{{item.start_date}}</p>
               
          </div>
          <div class="li-foot">
               Distance
               <p>Distance</p>
          </div>

          </a>
          </ion-item> -->



<!--           <ion-item class="subCat-li">
          <a  href="#/home/eventDetail">
          <img src="img/subCat-li.png">
          <div class="li-head">
          	Organiser
          </div>
          <div class="li-content" >
          	EVENT TITTLE
          	<p>STARTS IN</p>
          </div>
          <div class="li-foot">
          	Distance
          	<p>Distance</p>
          </div>
</a>
          </ion-item> -->

  <!--         <ion-item class="subCat-li">
          <a  href="#/home/eventDetail">

          <div class="li-head">
          	Organiser
          </div>
          <div class="li-content">
          	EVENT TITTLE
          	<p>STARTS IN</p>
          </div>
          <div class="li-foot">
          	Distance
          	<p>Distance</p>
          </div>
</a>
          </ion-item>

          <ion-item class="subCat-li">
          <a  href="#/home/eventDetail">

          <div class="li-head">
               Organiser
          </div>
          <div class="li-content">
               EVENT TITTLE
               <p>STARTS IN</p>
          </div>
          <div class="li-foot">
               Distance
               <p>Distance</p>
          </div>
</a>
          </ion-item>

                    <ion-item class="subCat-li">
          <a  href="#/home/eventDetail">

          <div class="li-head">
               Organiser
          </div>
          <div class="li-content">
               EVENT TITTLE
               <p>STARTS IN</p>
          </div>
          <div class="li-foot">
               Distance
               <p>Distance</p>
          </div>
</a>
          </ion-item>

                    <ion-item class="subCat-li">
          <a  href="#/home/eventDetail">

          <div class="li-head">
               Organiser
          </div>
          <div class="li-content">
               EVENT TITTLE
               <p>STARTS IN</p>
          </div>
          <div class="li-foot">
               Distance
               <p>Distance</p>
          </div>
</a>
          </ion-item>

                    <ion-item class="subCat-li">
          <a  href="#/home/eventDetail">

          <div class="li-head">
               Organiser
          </div>
          <div class="li-content">
               EVENT TITTLE
               <p>STARTS IN</p>
          </div>
          <div class="li-foot">
               Distance
               <p>Distance</p>
          </div>
</a>
          </ion-item>

                    <ion-item class="subCat-li">
          <a  href="#/home/eventDetail">

          <div class="li-head">
               Organiser
          </div>
          <div class="li-content">
               EVENT TITTLE
               <p>STARTS IN</p>
          </div>
          <div class="li-foot">
               Distance
               <p>Distance</p>
          </div>
</a>
          </ion-item> -->
      </ion-list>

    </ion-content>
</ion-view>